.div-brends{
    background-color:rgba(255, 255, 255, 0.033) ;
    border-radius: 10px;

}
.brand-title{
    text-align: center;
    color: white;
    font-size: 24px;
    padding-top: 20px;
}
.brand-div{
    display: flex;
align-items: center;
justify-content: space-between;
padding-top: 60px;
padding-bottom: 60px;
padding-left: 60px;
padding-right: 60px;
}
.brand{
    padding-top: 30px;
}
.brand-hero{
    background-color: #1e252b;
}
@media (max-width:997px) {
    .brand-div{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}
@media (max-width:600px) {
    .brand-div {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
}





















