.newcomer{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.newcomer-hero{
background-color: #1e252b;
}
.newcomer-div{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.dev h1{
    color: white;
    font-size: 48px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.dev p{
color: #FFFFFF8C;
font-size: 18px;
line-height: 30px;
padding-bottom: 20px;
}
.dev button{
    background-color: #FF6E30;
        color: white;
        font-weight: 600;
        width: 130px;
        height: 48px;
        border-radius: 8px;
        border: none;
        outline: none;
        margin-top: 20px;
}
.lok{
    color: white;
}
@media (max-width:1178px) {
    .newcomer{
    flex-wrap: wrap;
    gap: 40px;
    }
}
@media (max-width:777px) {
    .newcomer-div {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
    }
}